name: Lint source with golangci-lint
on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Read go-version
      id: go-version
      run: |
        echo "version=$(sed -n 's/^go\s*\([\d.]*\)/\1/p' go.mod)" >> "$GITHUB_OUTPUT"

    - uses: actions/setup-go@v4
      with:
        go-version: '${{ steps.go-version.outputs.version }}'
        cache: false

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        only-new-issues: true
        install-mode: "goinstall"
        args: --timeout=3m
